.navbar{
    background-color: aqua;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-container__picture-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    
}

.picture-container__img{
    flex: 1;
    max-width: 100%;
    height: auto;
    max-height: 310px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: aqua;
    height: 75px;
    position: static;
    bottom: 0;
    widows: 100%;
}

form{
    border: black solid 3px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
}

.errors{
    color: red;
    padding-right: 10px;
}