.navbar{
    background-color: aqua;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-container__picture-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    
}

.picture-container__img{
    flex: 1;
    max-width: 100%;
    height: auto;
    max-height: 310px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: aqua;
    height: 75px;
    position: static;
    bottom: 100px;
    widows: 100%;
    position: fixed;
}

form{
    border: black solid 3px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 30px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
    margin-block-end: 2px;
}

.errors{
    color: red;
    padding-right: 10px;
}

.form-p{
    margin-block-end: 0;
}

.login-header{
    margin-block-end: 2px;
}

.form-link{
    padding-bottom: 5px;
}

/* This is where the CSS for the Appointment Screen Begins */

.appointments-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
}

.isHidden{
    display: none;
}