#root{
    padding-bottom: 100px;
}
.navbar{
    background-color: lightblue;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid black 3px;
    /* border-radius: 15px; */
    /* margin-bottom: 1px; */
    
}

.link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: grey;
}



.link:visited {
  color: black;
}

.link:focus {
  
  color: whitesmoke;
  border-bottom: 1px solid;
}

.link:hover {
  border-bottom: 1px solid;     
  
}

.link:active {
  color: white;
  border-bottom: 1px solid;
}

p{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.home-container__picture-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: auto;
    
}

.picture-container__img{
    flex: 1;
    width: auto;
    height: auto;
    max-height: 375px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 20px;
    
}

h4{
    margin-bottom: 5px;
}

.cards{
    /* border: solid black 3px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex:1;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lightgray;
    border-radius: 15px;

}

footer{
    background-color: lightblue;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    border: black solid 3px;
    /* border-radius: 15px; */
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
   
}

.footer-p{
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
    display: inline;
    margin-right: 5px;

}

.footer-link{
    display: inline;
}

form{
    border: black solid 3px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 30px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
    margin-bottom: 15px;
}

.errors{
    color: red;
    padding-right: 10px;
}

.form-p{
    margin-block-end: 0;
}

.login-header{
    margin-block-end: 2px;
}

.form-link{
    padding-bottom: 5px;
}

/* This is where the CSS for the Appointment Screen Begins */
.logout{
    /* border-radius: 20px; */
    height: 40px;
    margin-right: 25px;
    /* transition: all .2s ease-in-out; */
    background-color: lightblue;
    font-size: 18px;
    border:none;
}

.logout:hover{
   color:white;

}

.my-appointments-booknow, .my-appointments-button{
    border: none;
    height: 40px;
    outline: none;
    /* transition: all .2s ease-in-out; */
    background-color: lightblue;
    font-size: 18px;
}

.my-appointments-booknow:hover, .my-appointments-button:hover{
    /* transform: scale(1.2);  */
    color:white;
}

.my-appointments-button-group{
    margin-left: 25px;
}

.appointments-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;

    
}

.isHidden{
    display: none;
}

/* My appointments css */
/* .appointments-container{
    background-image: url("assets/simple-backgroung.jpg");
    background-size: 100%;
} */

.my-appointments-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 20px;
    
}
h2{
    text-align: center;
    margin-top: 40px;
}
h4{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    text-decoration: underline;
}

.past-appointments-h4{
    background-color: lightgray;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    border: darkgrey 1px solid;
    box-shadow: 5px 10px;
    padding-bottom: .75em;
    padding-top: .75em;
    text-decoration: none;
    
    padding-left: 10px;
    
}

.my-appointments-container__container{
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border: grey solid 1px;
    box-shadow: 5px 10px;
    margin-bottom: 20px;
    
}

.past-appointments{
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 30px;
   
}

.appointments{
    display:grid;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-areas: 
    "date  time  staff  service";
    justify-content: left;
    margin-left: 10px;
    column-gap: 100px;
    width: 100%;
    
}

.date{
    grid-area: "date";
    margin-right: 10px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 30px;
    margin-right: 20px;
}
.time{
    grid-area: "time";
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 30px;
    margin-right: 20px;
    width: 40px;
}
.staff{
    grid-area: "staff";
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 30px;
    width: 40px;
}
.service{
    grid-area: "service";
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 30px;
}

/* book now component */
.book-now-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;

}

.services-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-div{
   display: flex;
    flex-direction: column;
    align-items: center; 
}

.schedulerDiv{
      display: flex;
    flex-direction: column;
    align-items: center; 
}

select{
    width: 300px;
    text-align-last: center;
    border-radius: 20px;
    outline: none;
}

.calendarDiv{
    margin-bottom: 5px;
}

.timeDiv{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

.available-time-button{
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.available-time-button:hover{
    transform: scale(1.1); 
}

/* servces page css */
.services-page-div{
    background-color: grey;
    height: 250px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.services-page-title{
    color: white;
    position: absolute;
    left: 300px;
    top: 50px;
    font-family: fantasy;
    font-size: 25px;
}

.services-page-sub-title{
    color: white;
    position: absolute;
    left:140px;
    top: 90px;
    font-family: fantasy;
    font-size: 40px;
}

.services-page-booknow{
    position: absolute;
    bottom: 5px;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    left: 355px;
    outline: none;
    transition: all .2s ease-in-out;
}

.services-page-booknow:hover {
    transform: scale(1.1); 
}

.services-img {
    position: absolute;
    right:50px;
    z-index: 1;
    top: 400px;
    border-radius: 15px;
}

th{
    align-content: center;
}

tr{
    text-align: center;
}

td{
    font-size: 20px;
    font-variant: small-caps;
}

.service-list-container{
    display: grid;
    height:1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "massage-table massage-table . ."
    "nail-picture nail-picture nails-table nails-table"
    "facials-table facials-table facial-picture facial-picture"
    ;
}

caption{
    font-size: 25px;
    font-variant: small-caps;
}

.massage-table{
    grid-area: massage-table;
    background-color: lightgray;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: black groove 5px;
}

.nails-table{
    grid-area: nails-table;
     background-color: lightgray;
    border-radius: 15px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 95px;
    border: black groove 5px;
}

.facials-table{
    grid-area: facials-table;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 95px;
    border: black groove 5px;
}

.manicure-picture{
    grid-area:nail-picture;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.facial-picture{
    grid-area: facial-picture;
    margin-left: 100px;
    margin-bottom: 125px;
    border-radius: 15px;
}